In [66]:
import pandas as pd

In [67]:
path = "COVID19VaccDosesAdministered.csv"

In [68]:
df_impf1 = pd.read_csv(path)

## Nur jüngstes Datum

In [69]:
datum = input("Datum wie folgt eingeben: yyyy-mm-dd")

Datum wie folgt eingeben: yyyy-mm-dd2021-05-02

In [70]:
df_Mai = df_impf1[df_impf1["date"] == datum]

In [71]:
#grosse Kantone rausfiltern
df_MaiGross = df_Mai[(df_Mai["pop"] > 800000) & (df_Mai["pop"] < 1600000)]

In [72]:
df_Mai.columns

Index(['date', 'geoRegion', 'entries', 'pop', 'sumTotal', 'per100Persons',
       'per100Persons_mean7d', 'per100PersonsTotal', 'mean7d', 'type',
       'version', 'granularity'],
      dtype='object')

In [73]:
# weglöschen der unnötigen Zahlen
df_MaiGross = df_MaiGross.drop(['type', 'version', 'granularity'], axis = 1)

In [74]:
df_MaiGross

,date,geoRegion,entries,pop,sumTotal,per100Persons,per100Persons_mean7d,per100PersonsTotal,mean7d
392,2021-05-02,BE,1257.0,1039474,349904,0.12,NaN,33.66,NaN
2357,2021-05-02,VD,1506.0,805098,258635,0.19,NaN,32.12,NaN
2619,2021-05-02,ZH,19.0,1539275,402951,0.00,NaN,26.18,NaN

In [59]:
#Exportieren Excel
df_MaiGross.to_excel("1_verimpfte_dosen_0401.xlsx")