In [1]:
import pandas as pd

In [2]:
path1 = "COVID19VaccDosesDelivered.csv"
path2 = "COVID19VaccDosesAdministered.csv"

In [3]:
df_deliv = pd.read_csv(path1)
df_admin = pd.read_csv(path2)

## Nur 1. April

In [4]:
df_deliv_Mai = df_deliv[df_deliv["date"] == "2021-04-01"]
df_admin_Mai = df_admin[df_admin["date"] == "2021-04-01"]

In [5]:
#grosse Kantone rausfiltern
df_deliv_MaiGross = df_deliv_Mai[(df_deliv_Mai["pop"] > 800000) & (df_deliv_Mai["pop"] < 1600000)]
df_admin_MaiGross = df_admin_Mai[(df_admin_Mai["pop"] > 800000) & (df_admin_Mai["pop"] < 1600000)]

In [6]:
df_admin_Mai.columns

Index(['date', 'geoRegion', 'entries', 'pop', 'sumTotal', 'per100Persons',
       'per100Persons_mean7d', 'per100PersonsTotal', 'mean7d', 'type',
       'version', 'granularity'],
      dtype='object')

In [7]:
# weglöschen der unnötigen Zahlen
df_deliv_MaiGross = df_deliv_MaiGross.drop(['type', 'version'], axis = 1)
df_admin_MaiGross = df_admin_MaiGross.drop(['pop', 'per100Persons',
       'per100Persons_mean7d', 'per100PersonsTotal', 'mean7d', 'type',
       'version', 'granularity'], axis = 1)

In [8]:
#index reseten, um die beiden DFs verbinden zu können
df_deliv_MaiGross.reset_index(drop = True, inplace = True)
df_deliv_MaiGross

  geoRegion        date      pop  sumTotal  per100PersonsTotal
0        BE  2021-04-01  1039474    237525               22.85
1        VD  2021-04-01   805098    174675               21.70
2        ZH  2021-04-01  1539275    359375               23.35

In [9]:
df_admin_MaiGross.reset_index(drop = True, inplace = True)
df_admin_MaiGross.rename(columns={"sumTotal": "verimpft"}, inplace = True)

In [10]:
df_bunker = pd.concat([df_deliv_MaiGross, df_admin_MaiGross["verimpft"]], axis=1, join="outer")

In [11]:
df_bunker

  geoRegion        date      pop  sumTotal  per100PersonsTotal  verimpft
0        BE  2021-04-01  1039474    237525               22.85    184114
1        VD  2021-04-01   805098    174675               21.70    154703
2        ZH  2021-04-01  1539275    359375               23.35    215061

In [12]:
df_bunker["gebunkert"] = df_bunker["sumTotal"] - df_bunker["verimpft"]
df_bunker["gebunkert_Anteil"] = 100/df_bunker["sumTotal"]*df_bunker["gebunkert"].round(1)

In [13]:
df_bunker

,geoRegion,date,pop,sumTotal,per100PersonsTotal,verimpft,gebunkert,gebunkert_Anteil
0,BE,2021-04-01,1039474,237525,22.85,184114,53411,22.486475
1,VD,2021-04-01,805098,174675,21.70,154703,19972,11.433806
2,ZH,2021-04-01,1539275,359375,23.35,215061,144314,40.156939

In [14]:
#Exportieren Excel
df_bunker.to_excel("2_gebunkert_April.xlsx")