In [1]:
import pandas as pd

In [2]:
path1 = "COVID19VaccDosesDelivered.csv"
path2 = "COVID19VaccDosesAdministered.csv"

In [17]:
df_deliv = pd.read_csv(path1)
df_admin = pd.read_csv(path2)

## Nur jüngstes Datum

In [18]:
df_deliv_Mai = df_deliv[df_deliv["date"] == "2021-05-02"]
df_admin_Mai = df_admin[df_admin["date"] == "2021-05-02"]

In [19]:
#grosse Kantone rausfiltern
df_deliv_MaiGross = df_deliv_Mai[(df_deliv_Mai["pop"] > 800000) & (df_deliv_Mai["pop"] < 1600000)]
df_admin_MaiGross = df_admin_Mai[(df_admin_Mai["pop"] > 800000) & (df_admin_Mai["pop"] < 1600000)]

In [20]:
df_admin_Mai.columns

Index(['date', 'geoRegion', 'entries', 'pop', 'sumTotal', 'per100Persons',
       'per100Persons_mean7d', 'per100PersonsTotal', 'mean7d', 'type',
       'version', 'granularity'],
      dtype='object')

In [21]:
# weglöschen der unnötigen Zahlen
df_deliv_MaiGross = df_deliv_MaiGross.drop(['type', 'version'], axis = 1)
df_admin_MaiGross = df_admin_MaiGross.drop(['pop', 'per100Persons',
       'per100Persons_mean7d', 'per100PersonsTotal', 'mean7d', 'type',
       'version', 'granularity'], axis = 1)

In [22]:
#index reseten, um die beiden DFs verbinden zu können
df_deliv_MaiGross.reset_index(drop = True, inplace = True)
df_deliv_MaiGross

  geoRegion        date      pop  sumTotal  per100PersonsTotal
0        BE  2021-05-02  1039474    398025               38.29
1        VD  2021-05-02   805098    277350               34.45
2        ZH  2021-05-02  1539275    524650               34.08

In [35]:
df_admin_MaiGross.reset_index(drop = True, inplace = True)
df_admin_MaiGross.rename(columns={"sumTotal": "verimpft"}, inplace = True)

In [36]:
df_bunker = pd.concat([df_deliv_MaiGross, df_admin_MaiGross["verimpft"]], axis=1, join="outer")

In [37]:
df_bunker

  geoRegion        date      pop  sumTotal  per100PersonsTotal  verimpft
0        BE  2021-05-02  1039474    398025               38.29    349904
1        VD  2021-05-02   805098    277350               34.45    258635
2        ZH  2021-05-02  1539275    524650               34.08    402951

In [43]:
df_bunker["gebunkert"] = df_bunker["sumTotal"] - df_bunker["verimpft"]
df_bunker["gebunkert_Anteil"] = 100/df_bunker["sumTotal"]*df_bunker["gebunkert"].round(1)

In [41]:
df_bunker

,geoRegion,date,pop,sumTotal,per100PersonsTotal,verimpft,gebunkert,gebunkert_Anteil
0,BE,2021-05-02,1039474,398025,38.29,349904,48121,12.089944
1,VD,2021-05-02,805098,277350,34.45,258635,18715,6.747792
2,ZH,2021-05-02,1539275,524650,34.08,402951,121699,23.196226

In [44]:
#Exportieren Excel
df_bunker.to_excel("2_gebunkert_Mai.xlsx")